:root {
	--fave-color: #7A2525;
  }


* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	overflow-y: auto;

	color: var(--fave-color);
}

header {
	border-bottom: 1px solid var(--fave-color);
}

main {
	margin-top: 1.5rem;
}

.setup-download-link {
	color: var(--fave-color);
	border-color: var(--fave-color);
}